{% import 'utils.tmpl' as utils %}
{{ utils.doctype() }}
<html>
<head>
<title>{{page.title}}</title>
{{site.ext.feed_link(site)}}
<head>
<body>
{% block body %}
<h1>{{site.config.name}}</h1>
{{content}}
{% endblock %}

{{site.getcontents('include/include-me.txt')}}
</body>
</html>